body { margin: 0; }
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 960px;
  margin: 28px auto 60px auto;
  padding: 8px;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body pre {
  position: relative;
}
.markdown-body pre .copied {
  visibility: hidden;
  display: flex;
  position: absolute;
  cursor: pointer;
  color: #a5afbb;
  top: 6px;
  right: 6px;
  border-radius: 5px;
  background: #e3e3e3;
  padding: 6px;
  font-size: 12px;
  transition: all .3s;
}
.markdown-body pre:hover .copied {
  visibility: visible;
}
.markdown-body pre:hover .copied:hover {
  background: #4caf50;
  color: #fff;
}
.markdown-body pre:hover .copied:active,
.markdown-body pre .copied.active {
  background: #2e9b33;
  color: #fff;
}
.markdown-body pre .copied .octicon-copy {
  display: block;
}
.markdown-body pre .copied .octicon-check {
  display: none;
}
.markdown-body pre .active .octicon-copy {
  display: none;
}
.markdown-body pre .active .octicon-check {
  display: block;
}

.markdown-body .octicon-video {
  border: 1px solid #d0d7de !important;
  border-radius: 6px !important;
  display: block;
}

.markdown-body .octicon-video summary {
  border-bottom: 1px solid #d0d7de !important;
  padding: 8px 16px !important;
  cursor: pointer;
}
.markdown-body .octicon-video > video {
  display: block !important;
  max-width: 100% !important;
  padding: 2px;
  box-sizing: border-box;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
.markdown-body details.octicon-video:not([open])>*:not(summary) {
  display: none !important;
}
.markdown-body details.octicon-video:not([open]) > summary {
  border-bottom: 0 !important;
}
.markdown-body .octicon-video summary > svg + span {
  margin: 4px !important;
}

.markdown-body h1:hover a.anchor .octicon-link:before,
.markdown-body h2:hover a.anchor .octicon-link:before,
.markdown-body h3:hover a.anchor .octicon-link:before,
.markdown-body h4:hover a.anchor .octicon-link:before,
.markdown-body h5:hover a.anchor .octicon-link:before,
.markdown-body h6:hover a.anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body a.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
  min-width: 16px;
}

.markdown-body a.anchor:focus {
  outline: none;
}
.markdown-body h1:hover a.anchor,
.markdown-body h2:hover a.anchor,
.markdown-body h3:hover a.anchor,
.markdown-body h4:hover a.anchor,
.markdown-body h5:hover a.anchor,
.markdown-body h6:hover a.anchor {
  text-decoration: none;
}

.markdown-body h1:hover a.anchor .octicon-link,
.markdown-body h2:hover a.anchor .octicon-link,
.markdown-body h3:hover a.anchor .octicon-link,
.markdown-body h4:hover a.anchor .octicon-link,
.markdown-body h5:hover a.anchor .octicon-link,
.markdown-body h6:hover a.anchor .octicon-link {
  visibility: visible;
}


.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
  font-weight: 600;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body mark {
  background-color: #ff0;
  color: #24292f;
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sub {
  bottom: -0.25em;
}

.markdown-body sup {
  top: -0.5em;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown-body figure {
  margin: 1em 40px;
}

.markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

.markdown-body html [type=button],
.markdown-body [type=reset],
.markdown-body [type=submit] {
  -webkit-appearance: button;
}

.markdown-body [type=button]::-moz-focus-inner,
.markdown-body [type=reset]::-moz-focus-inner,
.markdown-body [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.markdown-body [type=button]:-moz-focusring,
.markdown-body [type=reset]:-moz-focusring,
.markdown-body [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.markdown-body [type=checkbox],
.markdown-body [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body [type=number]::-webkit-inner-spin-button,
.markdown-body [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.markdown-body [type=search]::-webkit-search-cancel-button,
.markdown-body [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.markdown-body ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body details:not([open])>*:not(summary) {
  display: none !important;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body tt,
.markdown-body code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  word-wrap: normal;
}

.markdown-body :-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body ::-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.markdown-body [data-catalyst] {
  display: block;
}

.markdown-body g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .absent {
  color: #cf222e;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body sup>a::before {
  content: "[";
}

.markdown-body sup>a::after {
  content: "]";
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body ol[type="1"] {
  list-style-type: decimal;
}

.markdown-body ol[type=a] {
  list-style-type: lower-alpha;
}

.markdown-body ol[type=i] {
  list-style-type: lower-roman;
}

.markdown-body div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: .25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table img {
  background-color: transparent;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

.markdown-body span.frame span img {
  display: block;
  float: left;
}

.markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.markdown-body span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}

.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.markdown-body span.float-left span {
  margin: 13px 0 0;
}

.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.markdown-body span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.markdown-body code,
.markdown-body tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  text-decoration: inherit;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body pre code {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
  display: block;
  margin: 0;
  word-wrap: normal;
  border: 0;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.markdown-body .csv-data tr {
  border-top: 0;
}

.markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-body .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

.markdown-body .footnotes ol {
  padding-left: 16px;
}

.markdown-body .footnotes li {
  position: relative;
}

.markdown-body .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.markdown-body .footnotes li:target {
  color: #24292f;
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body [hidden] {
  display: none !important;
}

.markdown-body ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

/** language color **/
.markdown-body .token.tag .attr-value {
  color: #032f62;
}
.markdown-body .token.property,
.markdown-body .token.tag,
.markdown-body .token.boolean,
.markdown-body .token.number,
.markdown-body .token.function-name,
.markdown-body .token.constant,
.markdown-body .token.symbol,
.markdown-body .token.deleted {
  color: #0060c9;
}
.markdown-body .token.punctuation {
  color: #a0a0a0;
}
.markdown-body code[class*="language-"] {
  color: black;
}
.markdown-body code[class*="language-"] .token.selector,
.markdown-body code[class*="language-"] .token.string,
.markdown-body code[class*="language-"] .token.attr-name,
.markdown-body code[class*="language-"] .token.content,
.markdown-body code[class*="language-"] .token.char,
.markdown-body code[class*="language-"] .token.class-name,
.markdown-body code[class*="language-"] .token.function,
.markdown-body code[class*="language-"] .token.builtin {
  color: #6f42c1;
}
.markdown-body code[class*="language-"] .token.inserted {
  color: #22863a;
  background-color: #f0fff4;
}
.markdown-body code[class*="language-"] .token.deleted {
  color: #b31d28;
  background-color: #ffeef0;
}
.markdown-body code[class*="language-"] .code-block {
  color: #032f62;
}
.markdown-body code[class*="language-"] .token.comment,
.markdown-body code[class*="language-"] .token.block-comment,
.markdown-body code[class*="language-"] .token.prolog,
.markdown-body code[class*="language-"] .token.doctype,
.markdown-body code[class*="language-"] .token.cdata {
  color: #7D8B99;
}
.markdown-body code[class*="language-"] .token.punctuation {
  color: #a0a0a0;
}
.markdown-body code[class*="language-"] .token.operator,
.markdown-body code[class*="language-"] .token.entity,
.markdown-body code[class*="language-"] .token.variable {
  color: #d73a49;
  background: rgba(255, 255, 255, 0.5);
}
.markdown-body code[class*="language-"] .token.url {
  color: #0027ff;
}
.markdown-body code[class*="language-"] .token.atrule,
.markdown-body code[class*="language-"] .token.attr-value {
  color: #004698;
}
.markdown-body code[class*="language-"] .token.keyword {
  color: #d63200;
}
.markdown-body code[class*="language-"] .token.regex,
.markdown-body code[class*="language-"] .token.important {
  color: #e90;
}
.markdown-body code[class*="language-"] .token.string {
  color: #0a53c1;
}
body,html,ul,li,p{margin:0;padding:0}body,html{font-size:12px;font-family:'HanHei SC','PingFang SC','Helvetica Neue','Helvetica','STHeitiSC-Light','Arial',sans-serif}html{-webkit-tap-highlight-color:rgba(0,0,0,0)}a{text-decoration:none}a:hover{color:#333}*{box-sizing:border-box}.language-css,.language-styl,.language-less,.language-scss,.language-sass{color:#005cc5}.language-css .punctuation,.language-styl .punctuation,.language-less .punctuation,.language-scss .punctuation,.language-sass .punctuation{color:#24292e}.language-css .selector,.language-styl .selector,.language-less .selector,.language-scss .selector,.language-sass .selector{color:#6749ba}.language-css .property,.language-styl .property,.language-less .property,.language-scss .property,.language-sass .property{color:#005cc5}.language-css .atrule,.language-styl .atrule,.language-less .atrule,.language-scss .atrule,.language-sass .atrule{color:#d73a49}.markdown-body .edit_btn{position:relative;right:20px;float:right;top:16px;z-index:2;font-size:14px}@media screen and (max-width:479px){.markdown-body .edit_btn{right:15px}}.markdown-body .edit_btn .split{display:inline-block;height:13px;vertical-align:middle;width:1px;border-left:1px solid #dfdfdf;margin:-1px 0 0 0}.markdown-body .edit_btn a{text-decoration:none;background:#2196f3;color:#fff;border-radius:3px;padding:2px 5px}.markdown-body .edit_btn a:hover{color:#333;background:#e6e6e6}.markdown-body .markdown-body{padding-top:0 !important;padding-left:0 !important;padding-right:0 !important}.markdown-body{margin-top:0 !important;padding:90px 35px 30px 35px;max-width:980px}@media screen and (max-width:479px){.markdown-body{padding:70px 15px 30px 15px}}a.github-corner{position:fixed;z-index:9999;top:0;right:0}a.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}a.github-corner svg{fill:#f1f1f1;color:#000;position:absolute;top:0;border:0;right:0;z-index:99;width:70px;height:70px}@media screen and (max-width:479px){a.github-corner svg{width:46px;height:46px}}a{transition:all .2s ease-in}.warpper{min-height:100vh;display:flex;flex-direction:column;justify-content:center}.warpper .footer{padding-bottom:280px}.header{width:517px;margin:0 auto 0;padding:0 10px}.header .logo a{display:flex}.header .box{position:relative}.header .search{min-height:20px;position:relative;display:table;border-collapse:separate}.header .search li,.header .search ul{list-style:none}.header .search #result .ok{background:#f4f4f4}.header .search .search-list{position:absolute;display:none;z-index:999;box-shadow:1px 1px 3px #ededed;border:1px solid #d5d5d5;background:#fff;min-width:100px;top:39px;width:100%;padding:5px;border-radius:5px 5px 5px 5px}.header .search .search-list li{line-height:23px}.header .search .search-list li span{padding:0 8px;color:#b9b9b9}.header .search .search-list a{display:block;padding:2px 6px 2px 6px;color:#555}.header .search .search-list a:hover{background-color:#f2f2f2}.header .search .search-list a .kw{color:#f00;font-style:inherit;font-weight:bold}.header .search .query,.header .search .enter-input{display:table-cell;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.header .search .query{resize:none;position:relative;z-index:2;width:100%;height:40px;padding:6px 12px;font-size:14px;font-weight:bold;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #d5d5d5;border-radius:5px 0 0 5px;-webkit-appearance:none}.header .search .query:focus{z-index:99;border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.header .search .enter-input{white-space:nowrap}.header .search .enter-input button{margin:0;left:-1px;position:relative;z-index:5;display:inline-block;padding:9px 23px;font-size:14px;font-weight:bold;line-height:1.42857143;text-align:center;text-rendering:auto;white-space:nowrap;vertical-align:middle;touch-action:manipulation;cursor:pointer;user-select:none;background-image:none;background-color:#fff;border:1px solid transparent;border-collapse:separate;border-radius:0 5px 5px 0;border-color:#d5d5d5;color:#333}.header .search .enter-input button:focus,.header .search .enter-input button:active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.header .search .enter-input button:active{color:#333;background-color:#e6e6e6;border-color:#b4b4b4;background-image:none;box-shadow:inset 0 8px 32px -8px rgba(0,0,0,0.3)}.header .search .enter-input button:focus{color:#333;background-color:#e6e6e6;border-color:#999;text-decoration:none}.header .search .enter-input button:hover{color:#333;background-color:#e6e6e6;border-color:#b4b4b4}.footer{text-align:center;padding-top:31px;color:#616161;font-size:14px;font-weight:300;border-top:1px solid #efefef;padding-bottom:50px;padding:31px 6px 50px 6px}.footer.home{border-top:0}.header.home .header_inner{display:flex;flex-direction:column;align-items:center}.header.home .logo{min-height:140px;display:flex;align-items:center}.header.home .search{display:flex;min-width:320px}.header.header_list{width:auto;position:fixed;width:100%;background:#fff;backdrop-filter:saturate(180%) blur(.4rem);background-color:rgba(255,255,255,0.55);z-index:99}.header_list{padding:10px 10px 10px 13px;border-bottom:1px solid #eee}.header_list .logo{padding-right:24px;text-align:left}.header_list .logo svg{height:37px;width:136px}.search_list{padding:79px 27px}.search_list a{font-size:16px}.search_list a strong{font-weight:bold}.search_list a .kw{color:#f00;font-style:inherit;font-weight:bold}.search_list a:hover .kw{color:#333}.search_list li{padding:10px 0 10px 0;list-style-type:none}.search_list li p{padding-top:5px;color:#4f4f4f}.hotlist{padding:79px 27px}.hotlist a{font-size:16px}.hotlist a strong{font-weight:bold}.hotlist li{padding:5px 0 5px 0;list-style-type:none}.hotlist li p{padding-top:5px;color:#4f4f4f}.header_list .header_inner{display:flex;align-items:center}.header_list .header_inner .search{flex:1;display:flex}.header_inner,.hotlist,.search_list,.contributors{max-width:920px;margin:0 auto}.contributors{padding:79px 27px;max-width:960px;color:#24292f;background-color:#fff;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";font-size:16px;line-height:1.5;word-wrap:break-word}.contributors a{font-weight:bold}@media screen and (max-width:479px){.header{width:inherit}.header .search .enter-input button{padding:9px 14px}.header_list{padding:10px 10px 10px 13px}.header_list .logo{float:inherit;padding-right:10px;text-align:center}.header_list .logo svg{width:96px}.header_list .search .query{line-height:31px}.search_list,.hotlist{padding:78px 27px}}@-moz-keyframes octocat-wave{0%,100%{-webkit-transform:rotate(0);transform:rotate(0)}20%,60%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}40%,80%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}@-webkit-keyframes octocat-wave{0%,100%{-webkit-transform:rotate(0);transform:rotate(0)}20%,60%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}40%,80%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}@-o-keyframes octocat-wave{0%,100%{-webkit-transform:rotate(0);transform:rotate(0)}20%,60%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}40%,80%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}@keyframes octocat-wave{0%,100%{-webkit-transform:rotate(0);transform:rotate(0)}20%,60%{-webkit-transform:rotate(-25deg);transform:rotate(-25deg)}40%,80%{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}