<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="contributors">
  <h1>贡献者列表</h1>
  <div>
    <!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT--><!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-END-->
  </div>
  <p>
    数据来源于 <a href="https://github.com/jaywcjlove/linux-command/graphs/contributors">GitHub Contributors</a>，使用<a href="https://github.com/jaywcjlove/github-action-contributors">action-contributors</a>创建。
  </p>
</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>
