
<%-include('header'); %>
<%- include('search',{type: "list"}); %>

<div class="markdown-body">
<% if(md_path){ %>
<a class="edit_btn" href="https://github.com/jaywcjlove/linux-command/edit/master/<%=md_path%>">编辑</a>
<% } %>
{{content}}
</div>

<%- include('footer'); %>