<script type="text/javascript" src="<%=relative_path%>js/dt.js?v=<%=new Date().getTime()%>"></script>
<script type="text/javascript" src="<%=relative_path%>js/index.js?v=<%=new Date().getTime()%>"></script>
</body>
</html>