
<%- include('header',{src:""}); %>
<%- include('search',{type: "list"}); %>

<div class="search_list">
    <ul>
        <li>
            <a href=""><strong>find</strong> - 指定目录下查找文件。</a>
            <p>find命令用来在指定目录下查找文件。任何位于参数之前的字符串都将被视为欲查找的目录名。如果使用该命令时，不设置任何参数，则find命令将在当前目录下查找子目录与文件。并且将查找到的子目录和文件全部进行显示。</p>
        </li>
        <li>
            <a href=""><strong>mv</strong> - 文件或目录重新命名和移动。</a>
            <p>mv命令用来对文件或目录重新命名，或者将文件从一个目录移到另一个目录中。source表示源文件或目录，target表示目标文件或目录。如果将一个文件移到一个已经存在的目标文件中，则目标文件的内容将被覆盖。</p>
        </li>
        <li>
            <a href=""><strong>pssh</strong> - 多台服务器上执行命令的工具。</a>
            <p>是一个python编写可以在多台服务器上执行命令的工具，同时支持拷贝文件，是同类工具中很出色的，类似pdsh，个人认为相对pdsh更为简便，使用必须在各个服务器上配置好密钥认证访问。</p>
        </li>
        <li>
            <a href=""><strong>cat</strong> - 用来显示文件的内容。</a>
            <p>连接文件并打印到标准输出设备上，cat经常用来显示文件的内容，类似于下的。注意：当文件较大时，文本在屏幕上迅速闪过（滚屏），用户往往看不清所显示的内容。因此，一般用</p>
        </li>
        <li>
            <a href=""><strong>find</strong> - 指定目录下查找文件。</a>
            <p>find命令用来在指定目录下查找文件。任何位于参数之前的字符串都将被视为欲查找的目录名。如果使用该命令时，不设置任何参数，则find命令将在当前目录下查找子目录与文件。并且将查找到的子目录和文件全部进行显示。</p>
        </li>
        <li>
            <a href=""><strong>mv</strong> - 文件或目录重新命名和移动。</a>
            <p>mv命令用来对文件或目录重新命名，或者将文件从一个目录移到另一个目录中。source表示源文件或目录，target表示目标文件或目录。如果将一个文件移到一个已经存在的目标文件中，则目标文件的内容将被覆盖。</p>
        </li>
        <li>
            <a href=""><strong>pssh</strong> - 多台服务器上执行命令的工具。</a>
            <p>是一个python编写可以在多台服务器上执行命令的工具，同时支持拷贝文件，是同类工具中很出色的，类似pdsh，个人认为相对pdsh更为简便，使用必须在各个服务器上配置好密钥认证访问。</p>
        </li>
        <li>
            <a href=""><strong>cat</strong> - 用来显示文件的内容。</a>
            <p>连接文件并打印到标准输出设备上，cat经常用来显示文件的内容，类似于下的。注意：当文件较大时，文本在屏幕上迅速闪过（滚屏），用户往往看不清所显示的内容。因此，一般用</p>
        </li>
        <li>
            <a href=""><strong>find</strong> - 指定目录下查找文件。</a>
            <p>find命令用来在指定目录下查找文件。任何位于参数之前的字符串都将被视为欲查找的目录名。如果使用该命令时，不设置任何参数，则find命令将在当前目录下查找子目录与文件。并且将查找到的子目录和文件全部进行显示。</p>
        </li>
        <li>
            <a href=""><strong>mv</strong> - 文件或目录重新命名和移动。</a>
            <p>mv命令用来对文件或目录重新命名，或者将文件从一个目录移到另一个目录中。source表示源文件或目录，target表示目标文件或目录。如果将一个文件移到一个已经存在的目标文件中，则目标文件的内容将被覆盖。</p>
        </li>
        <li>
            <a href=""><strong>pssh</strong> - 多台服务器上执行命令的工具。</a>
            <p>是一个python编写可以在多台服务器上执行命令的工具，同时支持拷贝文件，是同类工具中很出色的，类似pdsh，个人认为相对pdsh更为简便，使用必须在各个服务器上配置好密钥认证访问。</p>
        </li>
        <li>
            <a href=""><strong>cat</strong> - 用来显示文件的内容。</a>
            <p>连接文件并打印到标准输出设备上，cat经常用来显示文件的内容，类似于下的。注意：当文件较大时，文本在屏幕上迅速闪过（滚屏），用户往往看不清所显示的内容。因此，一般用</p>
        </li>
        <li>
            <a href=""><strong>find</strong> - 指定目录下查找文件。</a>
            <p>find命令用来在指定目录下查找文件。任何位于参数之前的字符串都将被视为欲查找的目录名。如果使用该命令时，不设置任何参数，则find命令将在当前目录下查找子目录与文件。并且将查找到的子目录和文件全部进行显示。</p>
        </li>
        <li>
            <a href=""><strong>mv</strong> - 文件或目录重新命名和移动。</a>
            <p>mv命令用来对文件或目录重新命名，或者将文件从一个目录移到另一个目录中。source表示源文件或目录，target表示目标文件或目录。如果将一个文件移到一个已经存在的目标文件中，则目标文件的内容将被覆盖。</p>
        </li>
        <li>
            <a href=""><strong>pssh</strong> - 多台服务器上执行命令的工具。</a>
            <p>是一个python编写可以在多台服务器上执行命令的工具，同时支持拷贝文件，是同类工具中很出色的，类似pdsh，个人认为相对pdsh更为简便，使用必须在各个服务器上配置好密钥认证访问。</p>
        </li>
        <li>
            <a href=""><strong>cat</strong> - 用来显示文件的内容。</a>
            <p>连接文件并打印到标准输出设备上，cat经常用来显示文件的内容，类似于下的。注意：当文件较大时，文本在屏幕上迅速闪过（滚屏），用户往往看不清所显示的内容。因此，一般用</p>
        </li>
    </ul>
</div>

<%- include('footer'); %>