<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="search_list">
    <ul id="search_list_result">
        <!-- <li>
            <a href=""><strong>find</strong> - 指定目录下查找文件。</a>
            <p>find命令用来在指定目录下查找文件。任何位于参数之前的字符串都将被视为欲查找的目录名。如果使用该命令时，不设置任何参数，则find命令将在当前目录下查找子目录与文件。并且将查找到的子目录和文件全部进行显示。</p>
        </li> -->
    </ul>
</div>

<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>