.language-css,
.language-styl,
.language-less,
.language-scss,
.language-sass {
  color: #005cc5;
  .punctuation {
    color: #24292e;
  }
  .selector {
    color: #6749BA;
  }
  .property {
    color: #005cc5;
  }
  .atrule {
    color: #d73a49;
  }
}