mq-mobile = "screen and (max-width: 479px)"

.markdown-body .edit_btn {
  position relative
  right 20px
  float right
  top 16px
  z-index 2
  font-size: 14px;
  @media mq-mobile {
    right 15px
  }
  .split {
    display inline-block
    height 13px
    vertical-align middle
    width 1px
    margin -1px 0 0 0
  }
  a {
    text-decoration none
    background #2196F3
    color #fff
    border-radius 3px
    padding 2px 5px
    &:hover {
      color #333
      background #e6e6e6
    }
  }
}

.markdown-body .markdown-body {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.markdown-body {
  margin: 0 auto 0 auto;
  margin-top: 0 !important;
  padding 90px 35px 30px 35px
  max-width 980px
  @media mq-mobile {
    padding: 70px 15px 30px 15px;
  }
}
