body,html,ul,li,p{
  margin 0
  padding 0
}
body,html{
  font-size 12px
  font-family 'HanHei SC','PingFang SC','Helvetica Neue','Helvetica','STHeitiSC-Light','Arial',sans-serif
}
html{
  -webkit-tap-highlight-color rgba(0,0,0,0)
}
a {
  text-decoration none
  &:hover{
    color #333
  }
}
* {
  box-sizing border-box
}

$border-color = #D5D5D5