<!-- Linux命令行搜索引擎：https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/jaywcjlove/linux-command/new/master/command">添加命令</a> |
  <a href="<%=relative_path%>hot.html">命令列表</a> |
  <a href="https://github.com/jaywcjlove/oscnews" target="_blank">Chrome 插件</a> |
  <a href="https://github.com/jaywcjlove/linux-command/releases" target="_blank">Alfred</a> |
  <a href="https://jaywcjlove.github.io/linux-command/linux-command.docset.zip" target="_blank">Dash</a> |
  <a href="https://github.com/roachsinai/krunner-linuxcommands" target="_blank">Krunner</a> |
  <a href="http://jaywcjlove.gitee.io/linux-command/" target="_blank">开源中国Web版</a>
  <br />
  <a href="https://jaywcjlove.github.io/#/sponsor" target="_blank">打赏捐赠</a> |
  <a href="https://github.com/jaywcjlove/linux-command" target="_blank">Github</a> |
  <a href="https://jaywcjlove.github.io/linux-command/" target="_blank">短地址：https://git.io/linux</a>
  <br />
  收藏本站请使用 Ctrl+D 或者Command+d
  <br /> 共搜集到
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> 个Linux命令，超过 <a href="<%=relative_path%>contributors.html">50+</a> 贡献者
</div>